<app-header></app-header>
<div class="d-flex justify-content-end p-3">
  <button class="btn btn-success" (click)="routeToCreate()">
    <fa-icon [icon]="faPlus"></fa-icon>
    Create new user
  </button>
</div>
<div class="container">
  <div class="d-flex justify-content center align-items-center">
    <div *ngIf="!UserList || !UserList.length" class="d-flex flex-column text-muted justify-content-center align-items-center w-100">
      <div class="poster" inlineSVG="package.svg">
      </div>
      <div>There are no users. Start creating.</div>
    </div>
    <table *ngIf="UserList && UserList.length" class="table" border="1" padding="5">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Date of Birth</th>
          <th>Department</th>
          <th>Job Title</th>
          <th>Start Date</th>
          <th>Bank Account</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of UserList">
          <td>{{ user.userId }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.displayDoB }}</td>
          <td>{{ user.department }}</td>
          <td>{{ user.jobTitle }}</td>
          <td>{{ user.displayStartDate }}</td>
          <td>{{ user.bankAccount }}</td>
          <td>
            <a [routerLink]="['/createPayslip', user.userId]" style="margin-left: 10px">Payslip</a>
            <a [routerLink]="['/editUser', user.userId]" style="margin-left: 20px">Edit</a>
            <a [routerLink]="['/deleteUser', user.userId]" style="margin-left: 10px">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>