h1 {
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
}

h1 span {
  color: purple;
}

::ng-deep .modal-dialog {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}