<div class="logo d-flex justify-content-center align-items-end">
  <h1 class="font-weight-bold">Payslip<span style="color:purple;">GS</span></h1>
</div>
<div class="landing-page d-flex justify-content-center align-items-start">
  <div class="col-md-6 p-5">
    <aside class="admin-login h3 card" (click)="routeToAdmin()">
      <div class="p-5">
        Admin Login
        <i class="mdi mdi-account-circle-outline"></i>
      </div>
    </aside>
  </div>
  <div class="col-md-6 p-5">
    <aside class="client-login h3 card" (click)="routeToClient()">
      <div class="p-5">
        Employee Login
        <i class="mdi mdi-account-key-outline"></i>
      </div>
    </aside>
  </div>
</div>
